/venv
/.venv
/IoTMalwareDetection-master
**.pkl
/__pycache__/
/14 Robust_Malware_Detection_for_Internet_of_Battlefield_Things_Devices_Using_Deep_Eigenspace_Learning.pdf
/CNN Testing Results
/Eigenspace Results
/OpCode Graph Results
/10-Fold CV Results
/CNN Testing Results Improved
/Overfitting Analysis Results
/