/venv
/.venv
/__pycache__/

# Files
**.pkl
**.png
**.json
**.pdf
**.txt

# Dataset & Paper being replicated
/IoTMalwareDetection-master
/14 Robust_Malware_Detection_for_Internet_of_Battlefield_Things_Devices_Using_Deep_Eigenspace_Learning.pdf

# Folders needed
/OpCode Graph Results
/Eigenspace Results
/Clean_CNN_Fixed_Results
/Enhanced_CNN_Validation
/CNN Detailed Analysis Results
/CNN Overfitting Analysis Results
/CNN Train-Val Gap Analysis
/Algorithm2 Results
/Junk Code Results

# Folders not needed
/Archived
/10-Fold CV Results
/other models

# Not sure...
/CNN_ROC_and_Fold_Analysis







